/* landing page css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    -webkit-text-size-adjust: 100%;
}
body{
    background: url(https://i.postimg.cc/3RhGzBVf/black.jpg) fixed no-repeat ;
    /* background-repeat: no-repeat;*/
    background-size: cover; 
   
    overflow-x: hidden;
}

#color-text{
    color: yellow;
    text-decoration: none;
    font-weight: bolder;
}

#image{
    width: 500px;
    height: 500px;
   
}

.container-move{
    justify-content: center;
    display: flex;
    height: -1vh;
    align-items: center;
}

header {
    position:sticky;
    top: 0;
    
}

.container{
    height: 1080px;
}

section{
    display: block;

}



/* end of landing page css */

/* About css */

#heading::first-letter{
    color: yellow;
}
#heading{
    color: white;
}





/* end of About css */