/* landing page css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    -webkit-text-size-adjust: 100%;
}
body{
    background: url(https://i.postimg.cc/3RhGzBVf/black.jpg) fixed no-repeat ;
    /* background-repeat: no-repeat;*/
    background-size: cover; 
   
    overflow-x: hidden;
}

#color-text{
    color: yellow;
    text-decoration: none;
    font-weight: bolder;
}

#image{
    width: 500px;
    height: 500px;
   
    
   
}

.container-move{
    margin-top: 10rem;
    justify-content: center;
    display: flex;
    height: -1vh;
    align-items: center;
}

header{
    position:fixed; 
    top: 0;
   
    z-index: 1;
    
}



.containerr{
    height: 1080px;
}

section{
    display: block;
    

}

.move{
    height: 100vh;
}







/* end of landing page css */

/* About css */

#heading::first-letter{
    color: yellow;
}
#heading{
    color: white;
}

.hero{
    transform: translateY(5rem);
}
.container-about{
    display: flex;
    justify-content: center;
}

#text{
    display: flex;
    justify-content: center;
    height: -5vh;
    align-items: center;
}
#images{
    width: 350px;
    height: 350px;
}







/* end of About css */

/* resume/skill css */
#subheading::first-letter
{
color: yellow;
}

#pad-mar{
    padding: 5px;
    margin: 5px;
    /* margin-top: 20rem; */
   
}
 
#textalign{
    display: flex;
    /* margin-left: 30%; */
    justify-content: space-around;
    
}

#icon{
    width: auto;
    height: 100px;

}
li{
 list-style: none;
    color: transparent;
}
/* end of resume/skill css */

/* project css */

.project{
    display: flex;
    justify-content: center;
}

#proj::first-letter{
color:yellow ;
}
#des{
    color: white;
}
  
  .container-b {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    /* justify-content : center; */
    flex-wrap : warp;
    padding : 30px;  
  }
  
  .container-b .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container-b .card:hover {
    height : 320px;    
  }
  
  
  .container-b .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container-b .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container-b .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container-b .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

  #moveback{
    z-index: 1;
  }
/* end of project css */
