/* landing page css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    -webkit-text-size-adjust: 100%;
}
body{
    background: url(https://i.postimg.cc/3RhGzBVf/black.jpg) fixed no-repeat ;
    /* background-repeat: no-repeat;*/
    background-size: cover; 
   
    overflow-x: hidden;
}

#color-text{
    color: yellow;
    text-decoration: none;
    font-weight: bolder;
}

#image{
    width: 500px;
    height: 500px;
   
    
   
}

.container-move{
    justify-content: center;
    display: flex;
    height: -1vh;
    align-items: center;
}

header{
    position:sticky;
    top: 0;
   
    z-index: 1;
    
}

nav{
    position: fixed;
}

.containerr{
    height: 1080px;
}

section{
    display: block;
    

}








/* end of landing page css */

/* About css */

#heading::first-letter{
    color: yellow;
}
#heading{
    color: white;
}

.hero{
    transform: translateY(5rem);
}
.container-about{
    display: flex;
    justify-content: center;
}

#text{
    display: flex;
    justify-content: center;
    height: -5vh;
    align-items: center;
}




/* end of About css */